h1{
    background-color: rebeccapurple;
}
.nav{
    display: flex;
    justify-content: end;
    gap: 2rem;
}
.nav a{
    font-size: 2rem;
    text-decoration: none;
}

.buscador{
    display: flex;
    justify-content: center;
}